# Dependencies
node_modules

# package-lock.json (use yarn.lock instead)
yarn-lock.json

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

#nyc_output
.nyc_output